[Unit]
Description=Client Telegram Bot Generation Image
After=network.target


[Service]
WorkingDirectory=/var/www/client_telegram_bot_generation_photo
ExecStart=/var/www/client_telegram_bot_generation_photo/.venv/bin/python3 /var/www/client_telegram_bot_generation_photo/main.py
Type=simple
User=inside
RestartSec=10
Restart=always


[Install]
WantedBy=multi-user.target